/* Make reservations section */
.hero-section {
    height: 90vh; 
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.reservation-bar {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    width: 80%; 
    max-width: 600px; 
    transform: translateY(-35%);
}

.reservation-bar select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px; 
    appearance: none; 
    cursor: pointer; 
}

.reservation-bar h1 {
    text-align: center;
    color: black; 
    margin-bottom: 20px;
}

.reservation-bar form {
    display: flex;
    flex-direction: column; 
}

.reservation-bar form input,
.reservation-bar form button {
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reservation-bar form button {
    background-color: #ffcc00; 
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.reservation-bar form button:hover {
    background-color: #e6b800; 
}

/* headinng style */
.vehicle-types-heading {
    text-align: center;
    margin-top: 60px;
}

/* Vehicles Sections */
.vehicle-types {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
}

.vehicle {
    flex: 1 1 33%;  
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    background-size: cover; 
    background-position: center; 
    min-height: 200px; 
    color: black; 
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    cursor: pointer;
    text-align: center;
}

.vehicle:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); 
}

@media (max-width: 768px) {
    .vehicle-types {
        flex-direction: column;
        max-width: none;
    }
    .vehicle {
        width: 100%; 
    }
}

/* Enquiry CSS */

.contact-assistance{
    margin-top: 100px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.contact-info, .contact-form {
    flex: 1;
    min-width: 280px; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-form select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px; 
    appearance: none; 
    cursor: pointer; 
}

.contact-form textarea {
    width: 99%; 
    height: 100px;
    margin-bottom: 10px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
